[[source]]
# url = "https://pypi.org/simple"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
pandas = "*"
transformers = "*"
datasets = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3"
